<ion-view view-title="AVEC" ng-controller="galeriaCtrl" cache-view="false">
  <ion-content scroll="false" class="conteudo-home">
    <ion-slide-box class="galeria" on-slide-changed="slideHasChanged($index)"> <!--on-slide-changed="slideHasChanged($index)"-->
            <ion-slide id="slides"  ng-repeat="item in meuarray"> 
            <div><img src="https://static.salaovip.com.br/saloes/vip/galeria/originais/{{item.foto}}"></div>
       </ion-slide-box>
          <h4>
              Bem vindo ao nosso aplicativo.<br />
              Acima você pode rolar as imagens e ver algumas das nossas fotos, 
              no menu você pode acessar nossos links rápidos e abaixo você pode 
              seguir nossas redes sociais. Obrigado.
          </h4>
          <div>
            <a class= "icone-links" href="https://www.facebook.com/AvecBrasil/">            
                  <img src="img/face.png">       
            </a>
            <a class= "icone-links" href="https://www.linkedin.com/company/3271088/" >
                  <img src="img/linkedin.png">
            </a>
            <a class= "icone-links" href="https://www.instagram.com/avecbrasil/">
                  <img src="img/insta.png">
            </a>         
          </div>

    <!--<ion-list>
      <ion-item ng-repeat="playlist in playlists" href="#/app/playlists/{{playlist.id}}">
        {{playlist.title}}
      </ion-item>
    </ion-list>-->
  </ion-content>
</ion-view>