<ion-view view-title="Sobre">
  <ion-content scroll="false">
    <div class="container">
      <img src="img\avec.png" />
    </div>
    <div class="container">
      <p>
        A AVEC é um hub de soluções integradas e inovadoras capaz de transformar o mercado da
beleza. Nossa vocação é facilitar o cotidiano das pessoas para que elas tenham tempo de fazer o
que realmente importa, tempo para ser o que realmente são.

Venha conhecer os benefícios de ser um parceiro Avec e aprenda conosco como vender as

nossas soluções para  o mercado de beleza.
      </p>
    </div>
  </ion-content>
</ion-view>
